# General files
.DS_Store
.DS_Store?
*.o
.tar
.gz
.zip
*.pyc
*.so

# Test
tests/naif_pds4_bundle/*.csv
tests/naif_pds4_bundle/*.xml

# Docs
build
docs/make.bat
docs/Makefile
docs/_build/
docs/_templates/

# Pycharm specific things
.idea/

# python things
src/*.egg-info*
dist/
.cache/
__pycache__/
.eggs/
build/

# Log file
*.log