# General files
.DS_Store
.DS_Store?
*.o
.tar
.gz
.zip
*.pyc
*.so

# Test
/npb/tests/*.csv
/npb/tests/*.xml
/nbo/tests/desc_pattern_check.txt

# Docs
docs/make.bat
docs/Makefile
/docs/_build/
/docs/_static/
/docs/_templates/

# Pycharm specific things
.idea/

# python things
*.egg-info*
dist/
.cache/
__pycache__/
.eggs/
build/

# Log file
*.log