# General files
.DS_Store
.DS_Store?
*.o
.tar
.gz
.zip
*.pyc
*.so

# Test
tests/naif_pds4_bundler/*.csv
tests/naif_pds4_bundler/*.xml
tests/naif_pds4_bundler/docker/naif-pds4-bundler

# Docs
build
docs/make.bat
docs/Makefile
docs/_build/
docs/_templates/
modules.rst
paper.jats

# Pycharm specific things
.idea/

# python things
src/*.egg-info*
dist/
.cache/
__pycache__/
.eggs/
build/
.tox/
venv/
.coverage


# Log file
*.log
