graft src
include versioneer.py
include src/pds/naif_pds4_bundle/_version.py
global-exclude *.py[cod]

# Include package-level files and directories here; e.g.:
#
# include *.png *.jpeg
# exclude *.webp
# graft spice-kernels
# prune src/my_pds_module/obsolete-dir
# global-exclude *.log *.so